.button_bg{
    border: none;
    background: var(--button-color);
}
.button_dark-text{
    color: var(--button-color);
}
.button_light-text{
    color: var(--page-bg);
}
.button_border{
    background: transparent;
    border: 1px solid var(--button-color);
}
.button__text {
    font-size: 1.8rem;
    font-weight: 500;
}

.button__icon {
    width: 4.4rem;
    height: 4.4rem;
}
@media all and (max-width: 768px){
    .button__text {
        font-size: 1.5rem;
    }    
}
