.button {
    color: var(--page-bg);
    padding: 1.95rem 1.2rem;
    border-radius: 6rem;
    border: none;
    background: var(--button-color);
}

.button__text {
    margin-left: 1.2rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.button__icon {
    width: 4.4rem;
    height: 4.4rem;
}