@font-face {
  font-family: "Manrope";
  src: '../fonts/Manrope-VariableFont_wght.ttf';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px
}

body {
  background: var(--page-bg);
  height: fit-content;
  font-family: 'Manrope', sans-serif;
  font-size: 1.7rem;
  color: var(--text-color);
  padding: 3.6rem 4rem;
  position: relative;
}

.width_full {
  width: 100%;
}

.d_flex {
  display: flex;
}

.flex_column {
  flex-direction: column;
}

.jc_center {
  justify-content: center;
}
.jc_end {
  justify-content: flex-end;
}
.jc_space-btw {
  justify-content: space-between;
}

.ai_center {
  align-items: center;
}

.heading {
  font-weight: 500;
  line-height: 160%;
  color: var(--heading-color);
}
.image__wrapper{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.rounded_10{
  border-radius: 1rem;
}
.rounded_60{
  border-radius: 6rem;
}
.block_hidden{
  display: none !important;
}
.mb_4{
  margin-bottom: 0.4rem;
}
.mb_18{
  margin-bottom: 1.8rem;
}
.mb_24{
  margin-bottom: 2.4rem;
}
.mb_36{
  margin-bottom: 3.6rem;
}
@media all and (max-width: 768px){
  body{
    padding: 2.4rem;
  }
}

@media all and (max-width: 375px){
  body{
    padding: 1.4rem 2.4rem;
  }
}